body{
    font-family: "Montserrat", "Avenir", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
    background-image: url('/code/app/static/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: scroll;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 30px; /* Set the fixed height of the footer here */
  /*line-height: 60px; /* Vertically center the text there */
  /*background-color: #f5f5f5;*/
}

a:hover {
    text-decoration: none;
}

.avatar {
    /*-webkit-background-size: 40px 40px;
    background-size: 40px 40px;*/;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: static;
}

.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(50,50,50,0.4);
}

.no-padding {
    padding: 0;
}

.padding-top {
    padding-top: 1.5em;
}

.no-wrap {
    white-space: nowrap;
}

.fc-view-container {
    background-color: rgba(255,255,255,0.8);
}

#script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/*
#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}*/

#calendar {
    max-width: 700px;
    margin: 10px auto;
    padding: 0 10px;
}

.white {
    background-color: rgba(200, 200, 200, 0.45);
    color: whitesmoke;
}

/* CAL_COLORMAP:  Must be in sync with the config.py file - CAL_COLORMAP array! */

.default {
    border: 1px solid #3a87ad;
    background-color: #3a87ad;
}

.green {
    border: 1px solid green;
    background-color: green;
}

.cornflowerblue {
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
}

.yellow {
    border: 1px solid #ccb400;
    background-color: #ccb400;
}

.red {
    border: 1px solid #ff5b5b;
    background-color: #ff5b5b;
}

.amber {
    border: 1px solid #a57f00;
    background-color: #a57f00;
}

.purple {
    border: 1px solid #6500a5;
    background-color: #6500a5;
}

.pink {
    border: 1px solid #f25eca;
    background-color: #f25eca;
}


.light {
    opacity: 0.5;
}

.redborder {
    border: 2px solid red;
}