{% extends "_navbar.html" %}
{% block title %}VM - Calendars{% endblock %}

{% block content %}
        <div class="left">
        <a href="/newcalendar">
            New Calendar
        </a>
    </div>

    <div class="container opaque-message">
    <h3>Calendars</h3>
        <ul>
            {% for calendar in calendars %}
            <form action="/calendars" method="post">
                <li class="no-bullet">{{ calendar.name }} <button name="calendar_id" value="{{ calendar.id }}">Edit</button></li>
            </form>
            {% endfor %}
            {% if calendars|length == 0 %}
                There is no calendar defined.
            {% endif %}
        </ul>
    </div>

{% endblock %}

