{% extends "_navbar.html" %}
{% block title %}VM - Groups{% endblock %}

{% block content %}
    <div class="container margin-top">
        <div class="left" >
            <a class="btn btn-primary margin-top-small" href="/newgroup">New Group</a>
        </div>


        <div class="opaque-message">
            <h3>User Groups</h3>
                <table style=" margin: auto; ">
                    {% for group in groups %}
                    <tr>
                        <form action="/groups/{{ group.id }}" method="post">
                            <td>{{ group.name }}</td>
                            <td><button class="btn btn-warning btn-sm margin-top-small" name="id" value="{{ group.id }}">Edit</button></td>
                        </form>
                    </tr>
                    {% endfor %}
                    {% if groups|length == 0 %}
                        There is no group defined.
                    {% endif %}
                </table>
        </div>
    </div>
{% endblock %}
