{% extends "_navbar.html" %}
{% block title %}VM - New calendar{% endblock %}

{% block content %}
    <div class="container padding-top margin-top">
        <div class="row form">
            <form action="/newcalendar" method="post" class="form-inline">
                    {% if calendar != None %}
                    <input type="hidden" name="calendar_id" value="{{ calendar.id }}"/>
                    {% endif %}
                    <input class="form-control" type="text" name="new_name" placeholder="Calendar name" {% if calendar != None %} value="{{ calendar.name }}" {% endif %}>
                    {% if calendar == None %}
                    <button class="btn btn-success btn-sm margin-small" name="calendar_action" value="add">Add</button>
                    {% else %}
                    <button class="btn btn-success btn-sm margin-small" name="calendar_action" value="rename">Rename</button>
                    {% endif %}
                    <button class="btn btn-danger btn-sm margin-small" name="calendar_action" value="cancel">Cancel</button>
                    {% if calendar != None and calendar.id != 1 %}
                    <button  class="btn btn-outline-danger btn-sm margin-top-small" name="calendar_action" value="delete">Delete</button>
                    {% endif %}
            </form>
        </div>
    </div>
{% endblock %}


