{% extends "_navbar.html" %}
{% block title %}VM - Home{% endblock %}

{% block content %}
    <div class="container margin-top">

        <form action="/newgroup" method="post">
                {% if group != None %}<input type="hidden" name="group_id" value="{{ group.id }}"/>{% endif %}
                <input type="text" name="new_name" {% if group != None %} value="{{ group.name }}" {% endif %}> {% if group == None %}<button class="btn btn-success btn-sm margin-top-small" name="group_action" value="add">Add</button>{% else %}<button class="btn btn-success btn-sm margin-top-small" name="group_action" value="rename">Rename</button>{% endif %} <button class="btn btn-danger btn-sm margin-top-small" name="group_action" value="cancel">Cancel</button>{% if group != None %} <button class="btn btn-outline-danger btn-sm margin-top-small" name="group_action" value="delete">Delete</button>{% endif %}
        </form>
    </div>

    {% if group != None %}
    <div class="container margin-top">
    <h3>Members</h3>

        <table style=" margin: auto; ">
            {% for user in member %}
            <tr>
                <form action="/newgroup" method="post">
                    {% if group != None %}<input type="hidden" name="group_id" value="{{ group.id }}"/>{% endif %}
                    <input type="hidden" name="user_action" value="remove"/>
                    <td>{{ user.name }}</td>
                    <td>({{ user.nickname }})</td>
                    <td><button class="btn btn-warning btn-sm margin-top-small" name="user_id" value="{{ user.ext_id }}">Remove</button></td>
                </form>
            </tr>
            {% endfor %}
            {% if member|length == 0 %}
                There is no member.
            {% endif %}
        </table>

    <h3>Others</h3>
        <table style=" margin: auto; ">
            {% for user in outer %}
            <tr>
                <form action="/newgroup" method="post">
                    {% if group != None %}<input type="hidden" name="group_id" value="{{ group.id }}"/>{% endif %}
                    <input type="hidden" name="user_action" value="add"/>
                    <td>{{ user.name }}</td>
                    <td>({{ user.nickname }})</td>
                    <td><button class="btn btn-success btn-sm margin-top-small" name="user_id" value="{{ user.ext_id }}">Add</button></td>
                </form>
            </tr>
            {% endfor %}
            {% if outer|length == 0 %}
                There is no other user.
            {% endif %}
        </table>

    </div>
    {% endif %}
{% endblock %}
