{% extends "_navbar.html" %}
{% block title %}VM - Profile{% endblock %}

{% block content %}
<div class="container margin-top">
    <div class="opaque-message">
    <h3>Profile</h3>
        <div>
            <div>Name: {{ user.name }}</div>
            <div>Nickname: {{ user.nickname }}</div>
            <div>Email: {{ user.email }}</div>
            <div>Birthday: {{ user.birthday }}</div>
            <div>Account type: {{ account_type }}</div>
            <div>Account status: {{ account_status }}</div>
            <div>Registered: {{ user.account_created }}</div>
        </div>

    <h3>Group memberships</h3>
            <ul class="no-bullet">
            {% if groups|length > 0 %}
                {% for group in groups %}
                <li class="no-bullet">{{ group.name }}</li>
                {% endfor %}
            {% else %}
                There is no active group membership.
            {% endif %}
        </ul>
        </div>
</div>
{% endblock %}
