{% extends "_navbar.html" %}
{% block title %}VM - Home{% endblock %}

{% block content %}
    <div class="container margin-top">
        <div class="opaque-message">
            <h3>Inactive Users</h3>
            <form action="/activateuser" method="post">
                <input type="hidden" name="action" value="1"/>
                <ul class="no-bullet">
                    {% for user in inactive %}
                        <li class="no-bullet">{{ user.name }} ({{ user.nickname }}) <button class="btn btn-success btn-sm margin-top-small" name="id" value="{{ user.ext_id }}">Activate</button></li>
                    {% endfor %}
                    {% if inactive|length == 0 %}
                        There is no inactive user.

                    {% endif %}
                </ul>
            </form>


            <h3>Active Users</h3>
            <form action="/activateuser" method="post">
                <input type="hidden" name="action" value="0"/>
                <ul class="no-bullet">
                    {% for user in active %}
                    <li class="no-bullet">{{ user.name }} ({{ user.nickname }}) {% if user.ext_id != current_ext_id %}
                            <button class="btn btn-outline-danger btn-sm margin-top-small" name="id" value="{{ user.ext_id }}">Inactivate</button>

                            <button class="btn btn-primary btn-sm margin-top-small" name="typechange" value="{{ user.ext_id }}">
                                {% if user.account_type == 0 %}
                                    Make Viewer
                                {% elif user.account_type == 1 %}
                                    Make Admin
                                {% else %}
                                    Make Standard
                                {% endif %}

                            </button>
                        {% else %}
                            <button name="id" class="btn btn-secondary btn-sm margin-top-small" value="not-valid" disabled>Current user</button>
                        {% endif %} </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
{% endblock %}
